.todo {
  display: flex;
  background-color: white;
  border: solid black 0.05em;
}

.todoText {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  flex-wrap: wrap;
  font-size: 0.85em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 3, 163, 0.884);
}

.deleteBtn {
  margin-left: 3em;
  margin-right: 1em;
  font-size: 0.75em;
}

.completed {
  margin-left: 0.5em;
}

.cb-label {
  margin-left: 2em;
  font-size: 8px;
  color: black;
}
